* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('./fonts/RobotoMono-Thin.ttf') format('truetype');
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f9f9c9;
  color: #333;
}

.symbol-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.symbol-choice h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.symbol-choice .symbol-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.symbol-choice button {
  width: 120px;
  height: 120px;
  margin-top: 5px;
  font-size: 3.5em;
  background-color: #f0f0f0;
  border: 2px solid #999;
  border-radius: 5px;
  color: #333;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.symbol-choice button:hover {
  background-color: #e6e6e6;
}

code {
  font-size: 1.2em;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  background: #fff;
  border: 2px solid #999;
  font-size: 72px;
  font-weight: bold;
  line-height: 34px;
  padding: 0;
  text-align: center;
  width: 25vw;
  height: 25vw;
  max-width: 100px;
  max-height: 100px;
  margin-right: -2px;
  margin-top: -2px;
  font-size: calc(20px + 4vw);
  user-select: none;
}

.square:hover {
  background: #e4e4e4;
  cursor: pointer;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

.game-board {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.game-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.game-controls button {
  width: 260px;
  margin: 0;
  font-size: 22px;
  border: 2px solid #999;
  background-color: #f0f0f0;
  border-radius: 5px;
  color: #333;
  padding: 10px;
  transition: background-color 0.3s;
}

.game-controls button:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  color: black;
  font-weight: bold;
}

/* Dark mode */
.dark-mode {
  background-color: #2d2d2d;
  color: #f1f1f1;
}

.dark-mode .symbol-choice button {
  background-color: #444;
  color: #f1f1f1;
}

.dark-mode .symbol-choice button:hover {
  background-color: #333;
}

.dark-mode .square {
  background: #444;
  color: #f1f1f1;
}

.dark-mode .square:hover {
  background: #333;
}

.dark-mode .status {
  color: #f1f1f1;
}

.dark-mode .game-controls button {
  background-color: #444;
  color: #f1f1f1;
  border: none;
  outline: none;
}

.dark-mode .game-controls button:hover {
  background-color: #333;
}

.dark-mode .game-info {
  color: #f1f1f1;
}

.dark-mode-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.dark-mode-toggle img {
  width: 30px;
  height: 30px;
}